STACK-S3-TF/.terraform/*
STACK_IAM-TF/.terraform/*
STACK_EC2-TF/.terraform/*
STACK_EC2-TF-MODULES/.terraform/*
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/*
.terraform/providers/registry.terraform.io/hashicorp/aws/3.30.0/windows_amd64/terraform-provider-aws_v3.30.0_x5.exe
IAMTFFiles.tar
